<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eODP</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">eODP Demo API</h1>
        <ul>
          <li><a href="/expeditions">Expeditions</a></li>
          <li><a href="/sites">Sites</a></li>
          <li><a href="/holes">Holes</a></li>
          <li><a href="/cores">Cores</a></li>
          <li><a href="/sections">Sections</a></li>
          <li><a href="/samples">Samples</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>
